In [1]:
import numpy as np
import pandas as pd
xydf = pd.read_csv("xylabel_api_data.csv")
xydf.head()

,시군구,번지,아파트명,전용면적(㎡),계약년월,층,건축년도,도로명,구,회사채금리,매매가격지수,건설공사비지수,버스정류장수,지하철수,계약년,계약월,연식,주소,x,y
0,서울특별시 강남구 개포동,658-1,개포6차우성,79.9700,202307,5,1987,언주로 3,강남구,4.437,93.0,127.33,86.0,2.0,2023,7,36,서울특별시 강남구 개포동 658-1,127.056859,37.476276
1,서울특별시 강남구 개포동,651-1,개포더샵트리에,108.2017,202308,10,2021,개포로 311,강남구,4.500,93.4,127.39,86.0,2.0,2023,8,2,서울특별시 강남구 개포동 651-1,127.057257,37.484829
2,서울특별시 강남구 개포동,652,개포우성3차,161.0000,202307,15,1984,개포로 307,강남구,4.437,93.0,127.33,86.0,2.0,2023,7,39,서울특별시 강남구 개포동 652,127.056019,37.483975
3,서울특별시 강남구 개포동,652,개포우성3차,133.4600,202308,14,1984,개포로 307,강남구,4.500,93.4,127.39,86.0,2.0,2023,8,39,서울특별시 강남구 개포동 652,127.056019,37.483975
4,서울특별시 강남구 개포동,652,개포우성3차,104.4300,202308,6,1984,개포로 307,강남구,4.500,93.4,127.39,86.0,2.0,2023,8,39,서울특별시 강남구 개포동 652,127.056019,37.483975

In [6]:
xydf[xydf['x'].isnull()]

,시군구,번지,아파트명,전용면적(㎡),계약년월,층,건축년도,도로명,구,회사채금리,매매가격지수,건설공사비지수,버스정류장수,지하철수,계약년,계약월,연식,주소,x,y
1265,서울특별시 강북구 미아동,1353,에스케이북한산시티,114.85,202309,14,2004,솔샘로 174,강북구,4.602,93.9,129.34,187.0,5.0,2023,9,19,서울특별시 강북구 미아동 1353,NaN,NaN
1919,서울특별시 관악구 봉천동,1152,관악푸르지오102동,114.69,202308,7,2004,관악로30길 27,관악구,4.500,93.4,127.39,219.0,4.0,2023,8,19,서울특별시 관악구 봉천동 1152,NaN,NaN
2634,서울특별시 구로구 항동,가-238,하버라인4단지,59.86,202307,14,2019,항동로 72,구로구,4.437,93.0,127.33,38.0,0.0,2023,7,4,서울특별시 구로구 항동 가-238,NaN,NaN
2635,서울특별시 구로구 항동,가-238,하버라인4단지,59.86,202307,5,2019,항동로 72,구로구,4.437,93.0,127.33,38.0,0.0,2023,7,4,서울특별시 구로구 항동 가-238,NaN,NaN
2636,서울특별시 구로구 항동,가-238,하버라인4단지,59.86,202308,1,2019,항동로 72,구로구,4.500,93.4,127.39,38.0,0.0,2023,8,4,서울특별시 구로구 항동 가-238,NaN,NaN
5645,서울특별시 서초구 신원동,690,서초포레스타5단지,59.93,202307,8,2014,청계산로7길 43,서초구,4.437,93.0,127.33,24.0,1.0,2023,7,9,서울특별시 서초구 신원동 690,NaN,NaN
9166,서울특별시 중랑구 상봉동,785,건영2차,57.30,202309,18,1996,신내로7길 20,중랑구,4.602,93.9,129.34,32.0,3.0,2023,9,27,서울특별시 중랑구 상봉동 785,NaN,NaN

In [5]:
xydf[xydf['x'].isnull()].index

Index([1265, 1919, 2634, 2635, 2636, 5645, 9166], dtype='int64')

In [7]:
coords = {
    1265: [127.0045, 37.3704],
    1919: [126.5738, 37.2914],
    2634: [126.4933, 37.2853],
    2635: [126.4933, 37.2853], 
    2636: [126.4933, 37.2853], 
    5645: [127.0325, 37.2706], 
    9166: [127.0539, 37.3604]
}

for idx, (x, y) in coords.items():
    xydf.loc[idx, ["x", "y"]] = [x, y]

In [8]:
xydf[xydf['x'].isnull()]

Empty DataFrame
Columns: [시군구, 번지, 아파트명, 전용면적(㎡), 계약년월, 층, 건축년도, 도로명, 구, 회사채금리, 매매가격지수, 건설공사비지수, 버스정류장수, 지하철수, 계약년, 계약월, 연식, 주소, x, y]
Index: []

In [9]:
xydf.loc[1265]

시군구             서울특별시 강북구 미아동
번지                       1353
아파트명                에스케이북한산시티
전용면적(㎡)                114.85
계약년월                   202309
층                          14
건축년도                     2004
도로명                   솔샘로 174
구                         강북구
회사채금리                   4.602
매매가격지수                   93.9
건설공사비지수                129.34
버스정류장수                  187.0
지하철수                      5.0
계약년                      2023
계약월                         9
연식                         19
주소         서울특별시 강북구 미아동 1353
x                    127.0045
y                     37.3704
Name: 1265, dtype: object

In [11]:
xydf.to_csv("test_xycoord_notnull.csv", index = False)

In [ ]:
test_df = pd.read_csv('test_for_eda.csv')

In [ ]:
# test data Nan 값 아파트명 채우기
fill_values = {
    2451: "740-7",
    2452: "743-28",
    2453: "747-34",
    2454: "752-17",
    2455: "780-86",
    4035: "INS새터아파트",
    4449: "상진아파트",
    8041: "유탑유블레스아파트",
    8042: "유탑유블레스아파트",
    8966: "432-904",
}

for idx, value in fill_values.items():
    test_df.loc[idx, "아파트명"] = value

In [ ]:
test_df.loc[2451, '아파트명']

In [ ]:
test_df.to_csv('test_for_eda_notnull.csv', index = False)