In [9]:
# !pip install eli5==0.13.0
# !apt-get install -y fonts-nanum
# !pip install pandas
#!pip install scipy

import pandas as pd
train = pd.read_csv('train.csv')

Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (2.0.3)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /usr/local/lib/python3.8/dist-packages (from pandas) (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.8/dist-packages (from pandas) (2025.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

/tmp/ipykernel_404283/2417235616.py:5: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv('/root/data_EDA_imeanseo/train.csv')

In [15]:
# train data 정보 확인 
train.head()

0          127.057210
1          127.057210
2          127.057210
3          127.057210
4          127.057210
              ...
1118817    126.905638
1118818    126.905638
1118819    126.905638
1118820    126.905638
1118821    127.000071
Name: 좌표X, Length: 1118822, dtype: float64

In [16]:
# train data 결측치 확인 
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1118822 entries, 0 to 1118821
Data columns (total 52 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   시군구                     1118822 non-null  object
 1   번지                      1118597 non-null  object
 2   본번                      1118747 non-null  float64
 3   부번                      1118747 non-null  float64
 4   아파트명                    1116696 non-null  object
 5   전용면적(㎡)                 1118822 non-null  float64
 6   계약년월                    1118822 non-null  int64
 7   계약일                     1118822 non-null  int64
 8   층                       1118822 non-null  int64
 9   건축년도                    1118822 non-null  int64
 10  도로명                     1118822 non-null  object
 11  해제사유발생일                 5983 non-null     float64
 12  등기신청일자                  1118822 non-null  object
 13  거래유형                    1118822 non-null  object
 14  중개사소재지                  1118822 non-null  object
 15  k-단지분류(아파트,주상복합등등)      248131 non-null   object
 16  k-전화번호                  248548 non-null   object
 17  k-팩스번호                  246080 non-null   object
 18  단지소개기존clob              68582 non-null    float64
 19  k-세대타입(분양형태)            249259 non-null   object
 20  k-관리방식                  249259 non-null   object
 21  k-복도유형                  248932 non-null   object
 22  k-난방방식                  249259 non-null   object
 23  k-전체동수                  248192 non-null   float64
 24  k-전체세대수                 249259 non-null   float64
 25  k-건설사(시공사)              247764 non-null   object
 26  k-시행사                   247568 non-null   object
 27  k-사용검사일-사용승인일           249126 non-null   object
 28  k-연면적                   249259 non-null   float64
 29  k-주거전용면적                249214 non-null   float64
 30  k-관리비부과면적               249259 non-null   float64
 31  k-전용면적별세대현황(60㎡이하)      249214 non-null   float64
 32  k-전용면적별세대현황(60㎡~85㎡이하)  249214 non-null   float64
 33  k-85㎡~135㎡이하            249214 non-null   float64
 34  k-135㎡초과                327 non-null      float64
 35  k-홈페이지                  113175 non-null   object
 36  k-등록일자                  10990 non-null    object
 37  k-수정일자                  249214 non-null   object
 38  고용보험관리번호                205518 non-null   object
 39  경비비관리형태                 247834 non-null   object
 40  세대전기계약방법                240075 non-null   object
 41  청소비관리형태                 247644 non-null   object
 42  건축면적                    249108 non-null   float64
 43  주차대수                    249108 non-null   float64
 44  기타/의무/임대/임의=1/2/3/4     249259 non-null   object
 45  단지승인일                   248536 non-null   object
 46  사용허가여부                  249259 non-null   object
 47  관리비 업로드                 249259 non-null   object
 48  좌표X                     249152 non-null   float64
 49  좌표Y                     249152 non-null   float64
 50  단지신청일                   249197 non-null   object
 51  target                  1118822 non-null  int64
dtypes: float64(18), int64(5), object(29)
memory usage: 443.9+ MB

In [17]:
train.describe()

,본번,부번,전용면적(㎡),계약년월,계약일,층,건축년도,해제사유발생일,단지소개기존clob,k-전체동수,...,k-관리비부과면적,k-전용면적별세대현황(60㎡이하),k-전용면적별세대현황(60㎡~85㎡이하),k-85㎡~135㎡이하,k-135㎡초과,건축면적,주차대수,좌표X,좌표Y,target
count,1.118747e+06,1.118747e+06,1.118822e+06,1.118822e+06,1.118822e+06,1.118822e+06,1.118822e+06,5.983000e+03,68582.000000,248192.000000,...,249259.000000,249214.000000,249214.000000,249214.000000,327.0,2.491080e+05,249108.000000,249152.000000,249152.000000,1.118822e+06
mean,5.649108e+02,5.978885e+00,7.717475e+01,2.014760e+05,1.580656e+01,8.871968e+00,1.998755e+03,2.021057e+07,541.529979,14.798346,...,120726.487549,477.912838,476.713439,167.528470,70.0,1.895070e+05,1063.678778,126.995228,37.545785,5.799153e+04
std,5.160642e+02,4.668584e+01,2.936423e+01,4.187868e+02,8.721166e+00,5.982584e+00,9.333908e+00,1.060697e+04,751.809853,17.693533,...,129020.276480,759.909400,727.553569,248.928143,0.0,1.729027e+06,1235.437604,0.091045,0.052483,4.642602e+04
min,0.000000e+00,0.000000e+00,1.002000e+01,2.007010e+05,1.000000e+00,-4.000000e+00,1.961000e+03,2.020022e+07,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,70.0,0.000000e+00,0.000000,126.798318,37.447843,3.500000e+02
25%,1.760000e+02,0.000000e+00,5.965000e+01,2.011100e+05,8.000000e+00,4.000000e+00,1.992000e+03,2.020082e+07,4.000000,5.000000,...,40735.000000,48.000000,95.000000,0.000000,70.0,0.000000e+00,315.000000,126.913157,37.499201,3.050000e+04
50%,4.700000e+02,0.000000e+00,8.188000e+01,2.015070e+05,1.600000e+01,8.000000e+00,2.000000e+03,2.021030e+07,174.000000,10.000000,...,78125.000000,225.000000,256.000000,63.000000,70.0,1.710550e+03,683.000000,127.014971,37.544936,4.480000e+04
75%,7.810000e+02,1.000000e+00,8.496000e+01,2.018040e+05,2.300000e+01,1.200000e+01,2.005000e+03,2.022021e+07,725.000000,17.000000,...,159544.000000,576.000000,582.000000,237.000000,70.0,8.414210e+03,1274.000000,127.059590,37.577117,6.980000e+04
max,4.974000e+03,2.837000e+03,4.243200e+02,2.023060e+05,3.100000e+01,6.900000e+01,2.023000e+03,2.023093e+07,2888.000000,124.000000,...,969877.000000,4975.000000,5132.000000,1500.000000,70.0,3.159620e+07,12096.000000,127.179998,37.687725,1.450000e+06

In [60]:
# 좌표X가 NaN인 행만 선택
x_nan_rows = train[train['좌표X'].isna()]

# 확인
x_nan_rows

,시군구,번지,본번,부번,아파트명,전용면적(㎡),계약년월,계약일,층,건축년도,...,건축면적,주차대수,기타/의무/임대/임의=1/2/3/4,단지승인일,사용허가여부,관리비 업로드,좌표X,좌표Y,단지신청일,target
975,서울특별시 강남구 개포동,189,189.0,0.0,개포주공4단지,50.39,201801,25,1,1982,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134000
976,서울특별시 강남구 개포동,189,189.0,0.0,개포주공4단지,50.39,201801,25,4,1982,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158000
977,서울특별시 강남구 개포동,189,189.0,0.0,개포주공4단지,50.39,201801,25,1,1982,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155000
978,서울특별시 강남구 개포동,189,189.0,0.0,개포주공4단지,42.55,201801,26,4,1982,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,132000
979,서울특별시 강남구 개포동,189,189.0,0.0,개포주공4단지,50.39,201802,10,1,1982,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,154000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118203,서울특별시 중랑구 중화동,274-77,274.0,77.0,한영,70.96,200709,6,4,2003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17000
1118204,서울특별시 중랑구 중화동,11,11.0,0.0,현대휴앤미,100.17,200704,23,2,2007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21000
1118205,서울특별시 중랑구 중화동,11,11.0,0.0,현대휴앤미,95.94,200704,26,3,2007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27000
1118206,서울특별시 중랑구 중화동,11,11.0,0.0,현대휴앤미,100.20,200705,19,6,2007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24200
1118207,서울특별시 중랑구 중화동,11-7,11.0,7.0,현대휴앤미,77.71,200709,2,3,2007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21000

In [18]:
# 결측치 비율 확인 
missing_ratio = train.isnull().mean() * 100
print(missing_ratio.sort_values(ascending=False))

k-135㎡초과                  99.970773
해제사유발생일                   99.465241
k-등록일자                    99.017717
단지소개기존clob                93.870160
k-홈페이지                    89.884450
고용보험관리번호                  81.630858
세대전기계약방법                  78.542163
k-팩스번호                    78.005438
k-시행사                     77.872441
청소비관리형태                   77.865648
k-건설사(시공사)                77.854922
경비비관리형태                   77.848666
k-단지분류(아파트,주상복합등등)        77.822120
k-전체동수                    77.816668
단지승인일                     77.785921
k-전화번호                    77.784849
k-복도유형                    77.750527
주차대수                      77.734796
건축면적                      77.734796
k-사용검사일-사용승인일             77.733187
좌표X                       77.730863
좌표Y                       77.730863
단지신청일                     77.726841
k-85㎡~135㎡이하              77.725322
k-전용면적별세대현황(60㎡~85㎡이하)    77.725322
k-주거전용면적                  77.725322
k-전용면적별세대현황(60㎡이하)        77.725322
k-수정일자                    77.725322
k-관리비부과면적                 77.721300
사용허가여부                    77.721300
k-연면적                     77.721300
k-전체세대수                   77.721300
k-난방방식                    77.721300
k-세대타입(분양형태)              77.721300
기타/의무/임대/임의=1/2/3/4       77.721300
관리비 업로드                   77.721300
k-관리방식                    77.721300
아파트명                       0.190021
번지                         0.020110
부번                         0.006703
본번                         0.006703
시군구                        0.000000
중개사소재지                     0.000000
거래유형                       0.000000
등기신청일자                     0.000000
도로명                        0.000000
건축년도                       0.000000
층                          0.000000
계약일                        0.000000
계약년월                       0.000000
전용면적(㎡)                    0.000000
target                     0.000000
dtype: float64

In [13]:
# 결측치 개수 계산
missing_counts = train.isnull().sum()
missing_counts

시군구                             0
번지                            225
본번                             75
부번                             75
아파트명                         2126
전용면적(㎡)                         0
계약년월                            0
계약일                             0
층                               0
건축년도                            0
도로명                             0
해제사유발생일                   1112839
등기신청일자                          0
거래유형                            0
중개사소재지                          0
k-단지분류(아파트,주상복합등등)         870691
k-전화번호                     870274
k-팩스번호                     872742
단지소개기존clob                1050240
k-세대타입(분양형태)               869563
k-관리방식                     869563
k-복도유형                     869890
k-난방방식                     869563
k-전체동수                     870630
k-전체세대수                    869563
k-건설사(시공사)                 871058
k-시행사                      871254
k-사용검사일-사용승인일              869696
k-연면적                      869563
k-주거전용면적                   869608
k-관리비부과면적                  869563
k-전용면적별세대현황(60㎡이하)         869608
k-전용면적별세대현황(60㎡~85㎡이하)     869608
k-85㎡~135㎡이하               869608
k-135㎡초과                  1118495
k-홈페이지                    1005647
k-등록일자                    1107832
k-수정일자                     869608
고용보험관리번호                   913304
경비비관리형태                    870988
세대전기계약방법                   878747
청소비관리형태                    871178
건축면적                       869714
주차대수                       869714
기타/의무/임대/임의=1/2/3/4        869563
단지승인일                      870286
사용허가여부                     869563
관리비 업로드                    869563
좌표X                        869670
좌표Y                        869670
단지신청일                      869625
target                          0
dtype: int64

In [20]:
# 결측치 70% 이상 컬럼 선택
threshold = 70
cols_to_drop = [col for col in missing_ratio[missing_ratio >= threshold].index if col in train.columns]

exception_cols = ['좌표X', '좌표Y']

# 예외 컬럼 제거
cols_to_drop = [col for col in cols_to_drop if col not in exception_cols]

# 주소/거래 관련 컬럼 추가
cols_to_drop += ['본번', '부번', '등기신청일자', '거래유형', '중개사소재지']

print("삭제할 컬럼들:", cols_to_drop)

# 컬럼 삭제만 수행 (행 삭제는 하지 않음)
train_clean = train.drop(columns=cols_to_drop)

train_clean

삭제할 컬럼들: ['해제사유발생일', 'k-단지분류(아파트,주상복합등등)', 'k-전화번호', 'k-팩스번호', '단지소개기존clob', 'k-세대타입(분양형태)', 'k-관리방식', 'k-복도유형', 'k-난방방식', 'k-전체동수', 'k-전체세대수', 'k-건설사(시공사)', 'k-시행사', 'k-사용검사일-사용승인일', 'k-연면적', 'k-주거전용면적', 'k-관리비부과면적', 'k-전용면적별세대현황(60㎡이하)', 'k-전용면적별세대현황(60㎡~85㎡이하)', 'k-85㎡~135㎡이하', 'k-135㎡초과', 'k-홈페이지', 'k-등록일자', 'k-수정일자', '고용보험관리번호', '경비비관리형태', '세대전기계약방법', '청소비관리형태', '건축면적', '주차대수', '기타/의무/임대/임의=1/2/3/4', '단지승인일', '사용허가여부', '관리비 업로드', '단지신청일', '본번', '부번', '등기신청일자', '거래유형', '중개사소재지']

,시군구,번지,아파트명,전용면적(㎡),계약년월,계약일,층,건축년도,도로명,좌표X,좌표Y,target
0,서울특별시 강남구 개포동,658-1,개포6차우성,79.97,201712,8,3,1987,언주로 3,127.057210,37.476763,124000
1,서울특별시 강남구 개포동,658-1,개포6차우성,79.97,201712,22,4,1987,언주로 3,127.057210,37.476763,123500
2,서울특별시 강남구 개포동,658-1,개포6차우성,54.98,201712,28,5,1987,언주로 3,127.057210,37.476763,91500
3,서울특별시 강남구 개포동,658-1,개포6차우성,79.97,201801,3,4,1987,언주로 3,127.057210,37.476763,130000
4,서울특별시 강남구 개포동,658-1,개포6차우성,79.97,201801,8,2,1987,언주로 3,127.057210,37.476763,117000
...,...,...,...,...,...,...,...,...,...,...,...,...
1118817,서울특별시 은평구 구산동,382,갈현현대,59.94,200707,12,11,1998,서오릉로21길 36,126.905638,37.612962,20000
1118818,서울특별시 은평구 구산동,382,갈현현대,59.94,200708,25,10,1998,서오릉로21길 36,126.905638,37.612962,20000
1118819,서울특별시 은평구 구산동,382,갈현현대,84.83,200708,31,20,1998,서오릉로21길 36,126.905638,37.612962,28000
1118820,서울특별시 은평구 구산동,382,갈현현대,84.83,200709,15,8,1998,서오릉로21길 36,126.905638,37.612962,29000
1118821,서울특별시 중구 묵정동,11-67,묵정,52.46,200701,10,5,1981,서애로1길 34,127.000071,37.560706,13250

In [21]:
# 주소 컬럼 만들기 
train_clean['주소'] = train_clean['시군구']+ ' ' + train_clean['번지']
train_clean.head()

,시군구,번지,아파트명,전용면적(㎡),계약년월,계약일,층,건축년도,도로명,좌표X,좌표Y,target,주소
0,서울특별시 강남구 개포동,658-1,개포6차우성,79.97,201712,8,3,1987,언주로 3,127.05721,37.476763,124000,서울특별시 강남구 개포동 658-1
1,서울특별시 강남구 개포동,658-1,개포6차우성,79.97,201712,22,4,1987,언주로 3,127.05721,37.476763,123500,서울특별시 강남구 개포동 658-1
2,서울특별시 강남구 개포동,658-1,개포6차우성,54.98,201712,28,5,1987,언주로 3,127.05721,37.476763,91500,서울특별시 강남구 개포동 658-1
3,서울특별시 강남구 개포동,658-1,개포6차우성,79.97,201801,3,4,1987,언주로 3,127.05721,37.476763,130000,서울특별시 강남구 개포동 658-1
4,서울특별시 강남구 개포동,658-1,개포6차우성,79.97,201801,8,2,1987,언주로 3,127.05721,37.476763,117000,서울특별시 강남구 개포동 658-1

In [23]:
# 아파트명 결측치 확인
missing_apartment = train_clean[train_clean['아파트명'].isnull()]

# 결측치 있는 행 출력
print(missing_apartment)
# 몇 개 있는지 확인
print("결측치 개수:", missing_apartment.shape[0])
# 아파트명 결측치가 있는 행만 삭제
train_clean = train_clean.dropna(subset=['아파트명'])
train_clean

Empty DataFrame
Columns: [시군구, 번지, 아파트명, 전용면적(㎡), 계약년월, 계약일, 층, 건축년도, 도로명, 좌표X, 좌표Y, target, 주소]
Index: []
결측치 개수: 0
아파트명 제거 전 남은 데이터 크기: (1116696, 13)

,시군구,번지,아파트명,전용면적(㎡),계약년월,계약일,층,건축년도,도로명,좌표X,좌표Y,target,주소
0,서울특별시 강남구 개포동,658-1,개포6차우성,79.97,201712,8,3,1987,언주로 3,127.057210,37.476763,124000,서울특별시 강남구 개포동 658-1
1,서울특별시 강남구 개포동,658-1,개포6차우성,79.97,201712,22,4,1987,언주로 3,127.057210,37.476763,123500,서울특별시 강남구 개포동 658-1
2,서울특별시 강남구 개포동,658-1,개포6차우성,54.98,201712,28,5,1987,언주로 3,127.057210,37.476763,91500,서울특별시 강남구 개포동 658-1
3,서울특별시 강남구 개포동,658-1,개포6차우성,79.97,201801,3,4,1987,언주로 3,127.057210,37.476763,130000,서울특별시 강남구 개포동 658-1
4,서울특별시 강남구 개포동,658-1,개포6차우성,79.97,201801,8,2,1987,언주로 3,127.057210,37.476763,117000,서울특별시 강남구 개포동 658-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118817,서울특별시 은평구 구산동,382,갈현현대,59.94,200707,12,11,1998,서오릉로21길 36,126.905638,37.612962,20000,서울특별시 은평구 구산동 382
1118818,서울특별시 은평구 구산동,382,갈현현대,59.94,200708,25,10,1998,서오릉로21길 36,126.905638,37.612962,20000,서울특별시 은평구 구산동 382
1118819,서울특별시 은평구 구산동,382,갈현현대,84.83,200708,31,20,1998,서오릉로21길 36,126.905638,37.612962,28000,서울특별시 은평구 구산동 382
1118820,서울특별시 은평구 구산동,382,갈현현대,84.83,200709,15,8,1998,서오릉로21길 36,126.905638,37.612962,29000,서울특별시 은평구 구산동 382
1118821,서울특별시 중구 묵정동,11-67,묵정,52.46,200701,10,5,1981,서애로1길 34,127.000071,37.560706,13250,서울특별시 중구 묵정동 11-67

In [24]:
# 아파트 전체 층수가 나와있지 않기 때문에 서로 다른 아파트(최고층이 다 다름)에서 전체 층수를 비교한다는 것이 의미가 없다고 판단
# 아파트 층수에 대한 정보 사용 불가
train_clean = train_clean[train_clean['층'] > 0]
print(train_clean.shape)

(1116440, 13)

In [26]:
# '아파트명' 컬럼에서 '807-39'가 포함된 행 찾기 - 이상한 아파트명 발견
rows = train_clean[train_clean['아파트명'] == '807-39']
print(rows)

                   시군구      번지    아파트명  전용면적(㎡)    계약년월  계약일  층  건축년도  \
1087036  서울특별시 구로구 구로동  807-39  807-39    59.84  200708   30  2  1997

                  도로명  좌표X  좌표Y  target                    주소
1087036  구로동로12길 4-12  NaN  NaN   16400  서울특별시 구로구 구로동 807-39

In [27]:
# train_clean 복사
df_train = train_clean.copy()

# 2. 시군구에서 시를 제외하고 구와 동으로 분리
df_train['구'] = df_train['시군구'].str.split().str[1].reset_index(drop=True)

# 결과 확인
df_train

,시군구,번지,아파트명,전용면적(㎡),계약년월,계약일,층,건축년도,도로명,좌표X,좌표Y,target,주소,구
0,서울특별시 강남구 개포동,658-1,개포6차우성,79.97,201712,8,3,1987,언주로 3,127.057210,37.476763,124000,서울특별시 강남구 개포동 658-1,강남구
1,서울특별시 강남구 개포동,658-1,개포6차우성,79.97,201712,22,4,1987,언주로 3,127.057210,37.476763,123500,서울특별시 강남구 개포동 658-1,강남구
2,서울특별시 강남구 개포동,658-1,개포6차우성,54.98,201712,28,5,1987,언주로 3,127.057210,37.476763,91500,서울특별시 강남구 개포동 658-1,강남구
3,서울특별시 강남구 개포동,658-1,개포6차우성,79.97,201801,3,4,1987,언주로 3,127.057210,37.476763,130000,서울특별시 강남구 개포동 658-1,강남구
4,서울특별시 강남구 개포동,658-1,개포6차우성,79.97,201801,8,2,1987,언주로 3,127.057210,37.476763,117000,서울특별시 강남구 개포동 658-1,강남구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118817,서울특별시 은평구 구산동,382,갈현현대,59.94,200707,12,11,1998,서오릉로21길 36,126.905638,37.612962,20000,서울특별시 은평구 구산동 382,NaN
1118818,서울특별시 은평구 구산동,382,갈현현대,59.94,200708,25,10,1998,서오릉로21길 36,126.905638,37.612962,20000,서울특별시 은평구 구산동 382,NaN
1118819,서울특별시 은평구 구산동,382,갈현현대,84.83,200708,31,20,1998,서오릉로21길 36,126.905638,37.612962,28000,서울특별시 은평구 구산동 382,NaN
1118820,서울특별시 은평구 구산동,382,갈현현대,84.83,200709,15,8,1998,서오릉로21길 36,126.905638,37.612962,29000,서울특별시 은평구 구산동 382,NaN
1118821,서울특별시 중구 묵정동,11-67,묵정,52.46,200701,10,5,1981,서애로1길 34,127.000071,37.560706,13250,서울특별시 중구 묵정동 11-67,NaN

In [28]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1116440 entries, 0 to 1118821
Data columns (total 14 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   시군구      1116440 non-null  object
 1   번지       1116215 non-null  object
 2   아파트명     1116440 non-null  object
 3   전용면적(㎡)  1116440 non-null  float64
 4   계약년월     1116440 non-null  int64
 5   계약일      1116440 non-null  int64
 6   층        1116440 non-null  int64
 7   건축년도     1116440 non-null  int64
 8   도로명      1116440 non-null  object
 9   좌표X      249120 non-null   float64
 10  좌표Y      249120 non-null   float64
 11  target   1116440 non-null  int64
 12  주소       1116215 non-null  object
 13  구        1114058 non-null  object
dtypes: float64(3), int64(5), object(6)
memory usage: 127.8+ MB

In [29]:
# 2020년 코로나로 인한 전체적 변화로 2020년부터의 데이터를 우선 확인해보기로 결정함 
train = df_train[df_train['계약년월'] >= 202001].reset_index(drop=True)
train

,시군구,번지,아파트명,전용면적(㎡),계약년월,계약일,층,건축년도,도로명,좌표X,좌표Y,target,주소,구
0,서울특별시 강남구 개포동,651-1,개포더샵트리에,105.8064,202306,29,8,2021,개포로 311,127.056394,37.484892,240000,서울특별시 강남구 개포동 651-1,강남구
1,서울특별시 강남구 개포동,187,개포주공5단지,74.2500,202301,3,10,1983,삼성로4길 17,127.068028,37.487802,210000,서울특별시 강남구 개포동 187,강남구
2,서울특별시 강남구 개포동,187,개포주공5단지,61.1900,202302,5,12,1983,삼성로4길 17,127.068028,37.487802,199000,서울특별시 강남구 개포동 187,강남구
3,서울특별시 강남구 개포동,187,개포주공5단지,83.1700,202304,7,13,1983,삼성로4길 17,127.068028,37.487802,249000,서울특별시 강남구 개포동 187,강남구
4,서울특별시 강남구 개포동,187,개포주공5단지,83.1700,202304,29,10,1983,삼성로4길 17,127.068028,37.487802,277000,서울특별시 강남구 개포동 187,강남구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155918,서울특별시 종로구 숭인동,2-1,종로센트레빌,59.9200,202008,24,8,2008,동망산길 47,127.015931,37.580983,81000,서울특별시 종로구 숭인동 2-1,강동구
155919,서울특별시 중구 묵정동,11-67,묵정,52.4600,202001,17,5,1981,서애로1길 34,127.000071,37.560706,35500,서울특별시 중구 묵정동 11-67,강동구
155920,서울특별시 중구 묵정동,11-67,묵정,52.4600,202001,22,2,1981,서애로1길 34,127.000071,37.560706,32000,서울특별시 중구 묵정동 11-67,강동구
155921,서울특별시 중구 묵정동,11-67,묵정,52.4600,202003,31,2,1981,서애로1길 34,127.000071,37.560706,29500,서울특별시 중구 묵정동 11-67,강동구
155922,서울특별시 중구 묵정동,11-67,묵정,52.4600,202007,31,8,1981,서애로1길 34,127.000071,37.560706,34000,서울특별시 중구 묵정동 11-67,강동구

In [30]:
# test 데이터도 동일하게 만들기 
test = pd.read_csv('test.csv', encoding = 'utf-8')

In [86]:
test.head()

,시군구,아파트명,전용면적(㎡),계약년월,층,건축년도,도로명,구,회사채금리,매매가격지수,건설공사비지수,버스정류장수,지하철수
0,서울특별시 강남구 개포동,개포6차우성,79.9700,202307,5,1987,언주로 3,강남구,4.437,93.0,127.33,86.0,2.0
1,서울특별시 강남구 개포동,개포더샵트리에,108.2017,202308,10,2021,개포로 311,강남구,4.5,93.4,127.39,86.0,2.0
2,서울특별시 강남구 개포동,개포우성3차,161.0000,202307,15,1984,개포로 307,강남구,4.437,93.0,127.33,86.0,2.0
3,서울특별시 강남구 개포동,개포우성3차,133.4600,202308,14,1984,개포로 307,강남구,4.5,93.4,127.39,86.0,2.0
4,서울특별시 강남구 개포동,개포우성3차,104.4300,202308,6,1984,개포로 307,강남구,4.5,93.4,127.39,86.0,2.0

In [31]:
use_cols = ['시군구' ,'아파트명' ,'전용면적(㎡)' ,'계약년월' ,'층', '건축년도','도로명']
test = test[use_cols]
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9272 entries, 0 to 9271
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      9272 non-null   object
 1   아파트명     9262 non-null   object
 2   전용면적(㎡)  9272 non-null   float64
 3   계약년월     9272 non-null   int64
 4   층        9272 non-null   int64
 5   건축년도     9272 non-null   int64
 6   도로명      9272 non-null   object
dtypes: float64(1), int64(3), object(3)
memory usage: 507.2+ KB

In [32]:
test['구'] = test['시군구'].str.split(' ').str[1]
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9272 entries, 0 to 9271
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      9272 non-null   object
 1   아파트명     9262 non-null   object
 2   전용면적(㎡)  9272 non-null   float64
 3   계약년월     9272 non-null   int64
 4   층        9272 non-null   int64
 5   건축년도     9272 non-null   int64
 6   도로명      9272 non-null   object
 7   구        9272 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 579.6+ KB

In [33]:
test[test['아파트명'].isnull()]

                 시군구 아파트명  전용면적(㎡)    계약년월   층  건축년도           도로명     구
2451   서울특별시 구로구 구로동  NaN    35.10  202308   4  1996    구로동로12길 49   구로구
2452   서울특별시 구로구 구로동  NaN    59.56  202309   1  1994  구로동로22길 52-2   구로구
2453   서울특별시 구로구 구로동  NaN    49.11  202308   2  2000    도림로3길 35-5   구로구
2454   서울특별시 구로구 구로동  NaN    33.56  202307   3  1994  구로동로22길 76-6   구로구
2455   서울특별시 구로구 구로동  NaN    35.55  202307   5  1961     도림로12길 11   구로구
4035  서울특별시 동대문구 장안동  NaN    84.86  202308   7  2005    천호대로77길 62  동대문구
4449   서울특별시 동작구 상도동  NaN   106.51  202307   3  2005      국사봉1길 18   동작구
8041  서울특별시 영등포구 대림동  NaN    14.46  202307   6  2012    도림천로19길 12  영등포구
8042  서울특별시 영등포구 대림동  NaN    14.46  202307  10  2012    도림천로19길 12  영등포구
8966    서울특별시 중구 신당동  NaN    59.16  202309   4  2001  동호로11마길 20-8    중구

In [34]:
test['계약년월'] = test['계약년월'].astype(str)

In [35]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9272 entries, 0 to 9271
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      9272 non-null   object
 1   아파트명     9262 non-null   object
 2   전용면적(㎡)  9272 non-null   float64
 3   계약년월     9272 non-null   object
 4   층        9272 non-null   int64
 5   건축년도     9272 non-null   int64
 6   도로명      9272 non-null   object
 7   구        9272 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 579.6+ KB

In [36]:
# 회사채 금리와 아파트 가격의 관계가 있다고 생각해 외부데이터 활용
int_data = pd.read_csv('ml_outdata/ECOS 한국은행 경제통계시스템 회사채금리(2007.1-2025.8).csv', encoding = 'utf-8')
int_data.head()

,통계표,계정항목,단위,변환,2007/01,2007/02,2007/03,2007/04,2007/05,2007/06,...,2024/11,2024/12,2025/01,2025/02,2025/03,2025/04,2025/05,2025/06,2025/07,2025/08
0,"1.3.2.2. 시장금리(월,분기,년)","회사채(3년, AA-)",연%,원자료,5.32,5.28,5.20,5.34,5.49,5.64,...,3.428,3.236,3.229,3.206,3.161,2.980,2.908,2.980,2.957,2.914
1,"1.3.2.2. 시장금리(월,분기,년)","회사채(3년, BBB-)",연%,원자료,8.11,8.08,7.99,8.11,8.25,8.42,...,9.248,9.014,8.989,8.972,8.922,8.733,8.657,8.763,8.784,8.752

In [37]:
int_data = int_data.iloc[0, 4:].reset_index().set_axis(['계약년월', '회사채금리'], axis = 1)
int_data['계약년월'] = int_data['계약년월'].str.replace('/', '')
int_data.head()

     계약년월 회사채금리
0  200701  5.32
1  200702  5.28
2  200703   5.2
3  200704  5.34
4  200705  5.49

In [38]:
apt_idx = pd.read_csv('ml_outdata/KOSIS_서울시 아파트 매매가격지수_2007-2023.csv', encoding = 'cp949')
apt_idx.head()

,주택유형별(1),지역별(1),2007.01,2007.02,2007.03,2007.04,2007.05,2007.06,2007.07,2007.08,...,2023.03,2023.04,2023.05,2023.06,2023.07,2023.08,2023.09,2023.10,2023.11,2023.12
0,아파트,서울,70.7,71.2,71.5,71.8,71.8,71.9,72.3,72.5,...,92.9,92.6,92.6,92.7,93.0,93.4,93.9,94.2,94.4,94.2

In [39]:
apt_idx = apt_idx.iloc[0, 2:].reset_index().set_axis(['계약년월', '매매가격지수'], axis = 1)

In [40]:
apt_idx['계약년월'] = apt_idx['계약년월'].str.replace('.', '')

In [41]:
apt_idx.head()

     계약년월 매매가격지수
0  200701   70.7
1  200702   71.2
2  200703   71.5
3  200704   71.8
4  200705   71.8

In [42]:
con_idx = pd.read_csv('ml_outdata/KOSIS 국가통계포털 - 건설공사비지수(2020.01~2025.06) utf-8.csv', encoding = 'utf-8')

In [43]:
con_idx = con_idx.iloc[0, 3:].reset_index().set_axis(['계약년월', '건설공사비지수'], axis = 1)

In [44]:
con_idx['계약년월'] = con_idx['계약년월'].str.replace('.', '')

In [45]:
con_idx.head()

     계약년월 건설공사비지수
0  200001   46.14
1  200002   46.08
2  200003   46.19
3  200004   46.19
4  200005   46.19

In [47]:
train['계약년월'] = train['계약년월'].astype(str)

In [48]:
train = train.merge(int_data, how='left', on='계약년월')
train = train.merge(apt_idx, how='left', on='계약년월')
train = train.merge(con_idx, how='left', on='계약년월')

In [49]:
train.head()

,시군구,번지,아파트명,전용면적(㎡),계약년월,계약일,층,건축년도,도로명,좌표X,좌표Y,target,주소,구,회사채금리,매매가격지수,건설공사비지수
0,서울특별시 강남구 개포동,651-1,개포더샵트리에,105.8064,202306,29,8,2021,개포로 311,127.056394,37.484892,240000,서울특별시 강남구 개포동 651-1,강남구,4.356,92.7,127.42
1,서울특별시 강남구 개포동,187,개포주공5단지,74.2500,202301,3,10,1983,삼성로4길 17,127.068028,37.487802,210000,서울특별시 강남구 개포동 187,강남구,4.704,94.6,127.1
2,서울특별시 강남구 개포동,187,개포주공5단지,61.1900,202302,5,12,1983,삼성로4길 17,127.068028,37.487802,199000,서울특별시 강남구 개포동 187,강남구,4.274,93.6,127.16
3,서울특별시 강남구 개포동,187,개포주공5단지,83.1700,202304,7,13,1983,삼성로4길 17,127.068028,37.487802,249000,서울특별시 강남구 개포동 187,강남구,4.072,92.6,127.45
4,서울특별시 강남구 개포동,187,개포주공5단지,83.1700,202304,29,10,1983,삼성로4길 17,127.068028,37.487802,277000,서울특별시 강남구 개포동 187,강남구,4.072,92.6,127.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155918,서울특별시 종로구 숭인동,2-1,종로센트레빌,59.9200,202008,24,8,2008,동망산길 47,127.015931,37.580983,81000,서울특별시 종로구 숭인동 2-1,강동구,2.192,95.8,99.35
155919,서울특별시 중구 묵정동,11-67,묵정,52.4600,202001,17,5,1981,서애로1길 34,127.000071,37.560706,35500,서울특별시 중구 묵정동 11-67,강동구,1.955,94.2,99.86
155920,서울특별시 중구 묵정동,11-67,묵정,52.4600,202001,22,2,1981,서애로1길 34,127.000071,37.560706,32000,서울특별시 중구 묵정동 11-67,강동구,1.955,94.2,99.86
155921,서울특별시 중구 묵정동,11-67,묵정,52.4600,202003,31,2,1981,서애로1길 34,127.000071,37.560706,29500,서울특별시 중구 묵정동 11-67,강동구,1.84,94.4,99.53
155922,서울특별시 중구 묵정동,11-67,묵정,52.4600,202007,31,8,1981,서애로1길 34,127.000071,37.560706,34000,서울특별시 중구 묵정동 11-67,강동구,2.219,95.3,99.31

In [50]:
train.head()

,시군구,번지,아파트명,전용면적(㎡),계약년월,계약일,층,건축년도,도로명,좌표X,좌표Y,target,주소,구,회사채금리,매매가격지수,건설공사비지수
0,서울특별시 강남구 개포동,651-1,개포더샵트리에,105.8064,202306,29,8,2021,개포로 311,127.056394,37.484892,240000,서울특별시 강남구 개포동 651-1,강남구,4.356,92.7,127.42
1,서울특별시 강남구 개포동,187,개포주공5단지,74.2500,202301,3,10,1983,삼성로4길 17,127.068028,37.487802,210000,서울특별시 강남구 개포동 187,강남구,4.704,94.6,127.1
2,서울특별시 강남구 개포동,187,개포주공5단지,61.1900,202302,5,12,1983,삼성로4길 17,127.068028,37.487802,199000,서울특별시 강남구 개포동 187,강남구,4.274,93.6,127.16
3,서울특별시 강남구 개포동,187,개포주공5단지,83.1700,202304,7,13,1983,삼성로4길 17,127.068028,37.487802,249000,서울특별시 강남구 개포동 187,강남구,4.072,92.6,127.45
4,서울특별시 강남구 개포동,187,개포주공5단지,83.1700,202304,29,10,1983,삼성로4길 17,127.068028,37.487802,277000,서울특별시 강남구 개포동 187,강남구,4.072,92.6,127.45

In [51]:
test = test.merge(int_data, how='left', on='계약년월')
test = test.merge(apt_idx, how='left', on='계약년월')
test = test.merge(con_idx, how='left', on='계약년월')

In [52]:
test.head()

,시군구,아파트명,전용면적(㎡),계약년월,층,건축년도,도로명,구,회사채금리,매매가격지수,건설공사비지수
0,서울특별시 강남구 개포동,개포6차우성,79.9700,202307,5,1987,언주로 3,강남구,4.437,93.0,127.33
1,서울특별시 강남구 개포동,개포더샵트리에,108.2017,202308,10,2021,개포로 311,강남구,4.5,93.4,127.39
2,서울특별시 강남구 개포동,개포우성3차,161.0000,202307,15,1984,개포로 307,강남구,4.437,93.0,127.33
3,서울특별시 강남구 개포동,개포우성3차,133.4600,202308,14,1984,개포로 307,강남구,4.5,93.4,127.39
4,서울특별시 강남구 개포동,개포우성3차,104.4300,202308,6,1984,개포로 307,강남구,4.5,93.4,127.39

In [53]:
bus = pd.read_csv('ml_outdata/bus_feature_moongs.csv', encoding = 'utf-8')
bus['시군구'] = bus['si'] + ' ' + bus['gu'] + ' ' + bus['dong']

In [54]:
bus

,노드 ID,정류소번호,정류소명,X좌표,Y좌표,정류소 타입,si,gu,dong,시군구
0,100000001,1001,종로2가사거리,126.987752,37.569808,중앙차로,서울특별시,종로구,종로2가,서울특별시 종로구 종로2가
1,100000002,1002,창경궁.서울대학교병원,126.996566,37.579183,중앙차로,서울특별시,종로구,와룡동,서울특별시 종로구 와룡동
2,100000003,1003,명륜3가.성대입구,126.998251,37.582581,중앙차로,서울특별시,종로구,명륜4가,서울특별시 종로구 명륜4가
3,100000004,1004,종로2가.삼일교,126.987613,37.568579,중앙차로,서울특별시,종로구,관철동,서울특별시 종로구 관철동
4,100000005,1005,혜화동로터리.여운형활동터,127.001744,37.586243,중앙차로,서울특별시,종로구,혜화동,서울특별시 종로구 혜화동
...,...,...,...,...,...,...,...,...,...,...
12579,124000334,25995,우성아파트,127.139338,37.550386,일반차로,서울특별시,강동구,천호동,서울특별시 강동구 천호동
12580,124000333,25996,우성아파트,127.140046,37.550643,일반차로,서울특별시,강동구,암사동,서울특별시 강동구 암사동
12581,124000332,25997,조일약국,127.123596,37.533630,일반차로,서울특별시,강동구,성내동,서울특별시 강동구 성내동
12582,124000331,25998,성내시장,127.125497,37.536155,일반차로,서울특별시,강동구,성내동,서울특별시 강동구 성내동
12583,124000330,25999,천호우체국.로데오거리,127.127337,37.540343,일반차로,서울특별시,강동구,천호동,서울특별시 강동구 천호동

In [55]:
bus_count = bus.groupby('시군구')['정류소번호'].agg(버스정류장수 = 'count').reset_index()

In [56]:
test = test.merge(bus_count, how = 'left', on = '시군구')

In [57]:
test['버스정류장수'].isnull().sum()

35

In [59]:
test['버스정류장수'] = test['버스정류장수'].fillna(0)
test

,시군구,아파트명,전용면적(㎡),계약년월,층,건축년도,도로명,구,회사채금리,매매가격지수,건설공사비지수,버스정류장수
0,서울특별시 강남구 개포동,개포6차우성,79.9700,202307,5,1987,언주로 3,강남구,4.437,93.0,127.33,86.0
1,서울특별시 강남구 개포동,개포더샵트리에,108.2017,202308,10,2021,개포로 311,강남구,4.5,93.4,127.39,86.0
2,서울특별시 강남구 개포동,개포우성3차,161.0000,202307,15,1984,개포로 307,강남구,4.437,93.0,127.33,86.0
3,서울특별시 강남구 개포동,개포우성3차,133.4600,202308,14,1984,개포로 307,강남구,4.5,93.4,127.39,86.0
4,서울특별시 강남구 개포동,개포우성3차,104.4300,202308,6,1984,개포로 307,강남구,4.5,93.4,127.39,86.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9267,서울특별시 중랑구 신내동,신내우디안1단지,84.6500,202307,13,2014,신내역로1길 85,중랑구,4.437,93.0,127.33,74.0
9268,서울특별시 중랑구 신내동,신내우디안1단지,84.6200,202307,12,2014,신내역로1길 85,중랑구,4.437,93.0,127.33,74.0
9269,서울특별시 중랑구 신내동,신내우디안1단지,101.6500,202308,12,2014,신내역로1길 85,중랑구,4.5,93.4,127.39,74.0
9270,서울특별시 중랑구 신내동,신내우디안1단지,84.9400,202309,18,2014,신내역로1길 85,중랑구,4.602,93.9,129.34,74.0
9271,서울특별시 중랑구 신내동,신내우디안1단지,84.6500,202309,13,2014,신내역로1길 85,중랑구,4.602,93.9,129.34,74.0

In [60]:
train = train.merge(bus_count, how = 'left', on = '시군구')

In [61]:
train['버스정류장수'].isnull().sum()

534

In [62]:
# 버스정류장이 없어서 0으로 처리 

train['버스정류장수'] = train['버스정류장수'].fillna(0)
train

,시군구,번지,아파트명,전용면적(㎡),계약년월,계약일,층,건축년도,도로명,좌표X,좌표Y,target,주소,구,회사채금리,매매가격지수,건설공사비지수,버스정류장수
0,서울특별시 강남구 개포동,651-1,개포더샵트리에,105.8064,202306,29,8,2021,개포로 311,127.056394,37.484892,240000,서울특별시 강남구 개포동 651-1,강남구,4.356,92.7,127.42,86.0
1,서울특별시 강남구 개포동,187,개포주공5단지,74.2500,202301,3,10,1983,삼성로4길 17,127.068028,37.487802,210000,서울특별시 강남구 개포동 187,강남구,4.704,94.6,127.1,86.0
2,서울특별시 강남구 개포동,187,개포주공5단지,61.1900,202302,5,12,1983,삼성로4길 17,127.068028,37.487802,199000,서울특별시 강남구 개포동 187,강남구,4.274,93.6,127.16,86.0
3,서울특별시 강남구 개포동,187,개포주공5단지,83.1700,202304,7,13,1983,삼성로4길 17,127.068028,37.487802,249000,서울특별시 강남구 개포동 187,강남구,4.072,92.6,127.45,86.0
4,서울특별시 강남구 개포동,187,개포주공5단지,83.1700,202304,29,10,1983,삼성로4길 17,127.068028,37.487802,277000,서울특별시 강남구 개포동 187,강남구,4.072,92.6,127.45,86.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155918,서울특별시 종로구 숭인동,2-1,종로센트레빌,59.9200,202008,24,8,2008,동망산길 47,127.015931,37.580983,81000,서울특별시 종로구 숭인동 2-1,강동구,2.192,95.8,99.35,26.0
155919,서울특별시 중구 묵정동,11-67,묵정,52.4600,202001,17,5,1981,서애로1길 34,127.000071,37.560706,35500,서울특별시 중구 묵정동 11-67,강동구,1.955,94.2,99.86,1.0
155920,서울특별시 중구 묵정동,11-67,묵정,52.4600,202001,22,2,1981,서애로1길 34,127.000071,37.560706,32000,서울특별시 중구 묵정동 11-67,강동구,1.955,94.2,99.86,1.0
155921,서울특별시 중구 묵정동,11-67,묵정,52.4600,202003,31,2,1981,서애로1길 34,127.000071,37.560706,29500,서울특별시 중구 묵정동 11-67,강동구,1.84,94.4,99.53,1.0
155922,서울특별시 중구 묵정동,11-67,묵정,52.4600,202007,31,8,1981,서애로1길 34,127.000071,37.560706,34000,서울특별시 중구 묵정동 11-67,강동구,2.219,95.3,99.31,1.0

In [63]:
subway = pd.read_csv('ml_outdata/subway_feature_raddr_imeanseo.csv')
subway.head()

   역사_ID   역사명      호선         위도          경도   full_address
0   9996    미사     5호선  37.560927  127.193877    경기도 하남시 망월동
1   9995    강일     5호선  37.557490  127.175930  서울특별시 강동구 강일동
2   4929  김포공항  김포골드라인  37.562360  126.801868  서울특별시 강서구 방화동
3   4928    고촌  김포골드라인  37.601243  126.770345    경기도 김포시 고촌읍
4   4927    풍무  김포골드라인  37.612488  126.732387    경기도 김포시 사우동

In [64]:
subway.rename(columns={'full_address': '시군구'}, inplace=True)

In [65]:
subway_count = subway.groupby('시군구')['역사명'].agg(지하철수 = 'count').reset_index()

In [66]:
test = test.merge(subway_count, how = 'left', on = '시군구')

In [67]:
test

,시군구,아파트명,전용면적(㎡),계약년월,층,건축년도,도로명,구,회사채금리,매매가격지수,건설공사비지수,버스정류장수,지하철수
0,서울특별시 강남구 개포동,개포6차우성,79.9700,202307,5,1987,언주로 3,강남구,4.437,93.0,127.33,86.0,2.0
1,서울특별시 강남구 개포동,개포더샵트리에,108.2017,202308,10,2021,개포로 311,강남구,4.5,93.4,127.39,86.0,2.0
2,서울특별시 강남구 개포동,개포우성3차,161.0000,202307,15,1984,개포로 307,강남구,4.437,93.0,127.33,86.0,2.0
3,서울특별시 강남구 개포동,개포우성3차,133.4600,202308,14,1984,개포로 307,강남구,4.5,93.4,127.39,86.0,2.0
4,서울특별시 강남구 개포동,개포우성3차,104.4300,202308,6,1984,개포로 307,강남구,4.5,93.4,127.39,86.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9267,서울특별시 중랑구 신내동,신내우디안1단지,84.6500,202307,13,2014,신내역로1길 85,중랑구,4.437,93.0,127.33,74.0,2.0
9268,서울특별시 중랑구 신내동,신내우디안1단지,84.6200,202307,12,2014,신내역로1길 85,중랑구,4.437,93.0,127.33,74.0,2.0
9269,서울특별시 중랑구 신내동,신내우디안1단지,101.6500,202308,12,2014,신내역로1길 85,중랑구,4.5,93.4,127.39,74.0,2.0
9270,서울특별시 중랑구 신내동,신내우디안1단지,84.9400,202309,18,2014,신내역로1길 85,중랑구,4.602,93.9,129.34,74.0,2.0
9271,서울특별시 중랑구 신내동,신내우디안1단지,84.6500,202309,13,2014,신내역로1길 85,중랑구,4.602,93.9,129.34,74.0,2.0

In [68]:
train = train.merge(subway_count, how = 'left', on = '시군구')

In [69]:
train

,시군구,번지,아파트명,전용면적(㎡),계약년월,계약일,층,건축년도,도로명,좌표X,좌표Y,target,주소,구,회사채금리,매매가격지수,건설공사비지수,버스정류장수,지하철수
0,서울특별시 강남구 개포동,651-1,개포더샵트리에,105.8064,202306,29,8,2021,개포로 311,127.056394,37.484892,240000,서울특별시 강남구 개포동 651-1,강남구,4.356,92.7,127.42,86.0,2.0
1,서울특별시 강남구 개포동,187,개포주공5단지,74.2500,202301,3,10,1983,삼성로4길 17,127.068028,37.487802,210000,서울특별시 강남구 개포동 187,강남구,4.704,94.6,127.1,86.0,2.0
2,서울특별시 강남구 개포동,187,개포주공5단지,61.1900,202302,5,12,1983,삼성로4길 17,127.068028,37.487802,199000,서울특별시 강남구 개포동 187,강남구,4.274,93.6,127.16,86.0,2.0
3,서울특별시 강남구 개포동,187,개포주공5단지,83.1700,202304,7,13,1983,삼성로4길 17,127.068028,37.487802,249000,서울특별시 강남구 개포동 187,강남구,4.072,92.6,127.45,86.0,2.0
4,서울특별시 강남구 개포동,187,개포주공5단지,83.1700,202304,29,10,1983,삼성로4길 17,127.068028,37.487802,277000,서울특별시 강남구 개포동 187,강남구,4.072,92.6,127.45,86.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155918,서울특별시 종로구 숭인동,2-1,종로센트레빌,59.9200,202008,24,8,2008,동망산길 47,127.015931,37.580983,81000,서울특별시 종로구 숭인동 2-1,강동구,2.192,95.8,99.35,26.0,1.0
155919,서울특별시 중구 묵정동,11-67,묵정,52.4600,202001,17,5,1981,서애로1길 34,127.000071,37.560706,35500,서울특별시 중구 묵정동 11-67,강동구,1.955,94.2,99.86,1.0,NaN
155920,서울특별시 중구 묵정동,11-67,묵정,52.4600,202001,22,2,1981,서애로1길 34,127.000071,37.560706,32000,서울특별시 중구 묵정동 11-67,강동구,1.955,94.2,99.86,1.0,NaN
155921,서울특별시 중구 묵정동,11-67,묵정,52.4600,202003,31,2,1981,서애로1길 34,127.000071,37.560706,29500,서울특별시 중구 묵정동 11-67,강동구,1.84,94.4,99.53,1.0,NaN
155922,서울특별시 중구 묵정동,11-67,묵정,52.4600,202007,31,8,1981,서애로1길 34,127.000071,37.560706,34000,서울특별시 중구 묵정동 11-67,강동구,2.219,95.3,99.31,1.0,NaN

In [70]:
train['지하철수'].isnull().sum()

28930

In [71]:
train.rename(columns={'지하철수_x': '지하철수'}, inplace=True)

In [72]:
train

,시군구,번지,아파트명,전용면적(㎡),계약년월,계약일,층,건축년도,도로명,좌표X,좌표Y,target,주소,구,회사채금리,매매가격지수,건설공사비지수,버스정류장수,지하철수
0,서울특별시 강남구 개포동,651-1,개포더샵트리에,105.8064,202306,29,8,2021,개포로 311,127.056394,37.484892,240000,서울특별시 강남구 개포동 651-1,강남구,4.356,92.7,127.42,86.0,2.0
1,서울특별시 강남구 개포동,187,개포주공5단지,74.2500,202301,3,10,1983,삼성로4길 17,127.068028,37.487802,210000,서울특별시 강남구 개포동 187,강남구,4.704,94.6,127.1,86.0,2.0
2,서울특별시 강남구 개포동,187,개포주공5단지,61.1900,202302,5,12,1983,삼성로4길 17,127.068028,37.487802,199000,서울특별시 강남구 개포동 187,강남구,4.274,93.6,127.16,86.0,2.0
3,서울특별시 강남구 개포동,187,개포주공5단지,83.1700,202304,7,13,1983,삼성로4길 17,127.068028,37.487802,249000,서울특별시 강남구 개포동 187,강남구,4.072,92.6,127.45,86.0,2.0
4,서울특별시 강남구 개포동,187,개포주공5단지,83.1700,202304,29,10,1983,삼성로4길 17,127.068028,37.487802,277000,서울특별시 강남구 개포동 187,강남구,4.072,92.6,127.45,86.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155918,서울특별시 종로구 숭인동,2-1,종로센트레빌,59.9200,202008,24,8,2008,동망산길 47,127.015931,37.580983,81000,서울특별시 종로구 숭인동 2-1,강동구,2.192,95.8,99.35,26.0,1.0
155919,서울특별시 중구 묵정동,11-67,묵정,52.4600,202001,17,5,1981,서애로1길 34,127.000071,37.560706,35500,서울특별시 중구 묵정동 11-67,강동구,1.955,94.2,99.86,1.0,NaN
155920,서울특별시 중구 묵정동,11-67,묵정,52.4600,202001,22,2,1981,서애로1길 34,127.000071,37.560706,32000,서울특별시 중구 묵정동 11-67,강동구,1.955,94.2,99.86,1.0,NaN
155921,서울특별시 중구 묵정동,11-67,묵정,52.4600,202003,31,2,1981,서애로1길 34,127.000071,37.560706,29500,서울특별시 중구 묵정동 11-67,강동구,1.84,94.4,99.53,1.0,NaN
155922,서울특별시 중구 묵정동,11-67,묵정,52.4600,202007,31,8,1981,서애로1길 34,127.000071,37.560706,34000,서울특별시 중구 묵정동 11-67,강동구,2.219,95.3,99.31,1.0,NaN

In [73]:
train['지하철수'].isnull().sum()

28930

In [74]:
# 버스정류장이 없어서 0으로 처리 

train['지하철수'] = train['지하철수'].fillna(0)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155923 entries, 0 to 155922
Data columns (total 19 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   시군구      155923 non-null  object
 1   번지       155878 non-null  object
 2   아파트명     155923 non-null  object
 3   전용면적(㎡)  155923 non-null  float64
 4   계약년월     155923 non-null  object
 5   계약일      155923 non-null  int64
 6   층        155923 non-null  int64
 7   건축년도     155923 non-null  int64
 8   도로명      155923 non-null  object
 9   좌표X      36628 non-null   float64
 10  좌표Y      36628 non-null   float64
 11  target   155923 non-null  int64
 12  주소       155878 non-null  object
 13  구        155923 non-null  object
 14  회사채금리    155923 non-null  object
 15  매매가격지수   155923 non-null  object
 16  건설공사비지수  155923 non-null  object
 17  버스정류장수   155923 non-null  float64
 18  지하철수     155923 non-null  float64
dtypes: float64(5), int64(4), object(10)
memory usage: 22.6+ MB

In [75]:
train_data = train.copy()

In [76]:
test_data = test.copy()

,시군구,아파트명,전용면적(㎡),계약년월,층,건축년도,도로명,구,회사채금리,매매가격지수,건설공사비지수,버스정류장수,지하철수
0,서울특별시 강남구 개포동,개포6차우성,79.9700,202307,5,1987,언주로 3,강남구,4.437,93.0,127.33,86.0,2.0
1,서울특별시 강남구 개포동,개포더샵트리에,108.2017,202308,10,2021,개포로 311,강남구,4.5,93.4,127.39,86.0,2.0
2,서울특별시 강남구 개포동,개포우성3차,161.0000,202307,15,1984,개포로 307,강남구,4.437,93.0,127.33,86.0,2.0
3,서울특별시 강남구 개포동,개포우성3차,133.4600,202308,14,1984,개포로 307,강남구,4.5,93.4,127.39,86.0,2.0
4,서울특별시 강남구 개포동,개포우성3차,104.4300,202308,6,1984,개포로 307,강남구,4.5,93.4,127.39,86.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9267,서울특별시 중랑구 신내동,신내우디안1단지,84.6500,202307,13,2014,신내역로1길 85,중랑구,4.437,93.0,127.33,74.0,2.0
9268,서울특별시 중랑구 신내동,신내우디안1단지,84.6200,202307,12,2014,신내역로1길 85,중랑구,4.437,93.0,127.33,74.0,2.0
9269,서울특별시 중랑구 신내동,신내우디안1단지,101.6500,202308,12,2014,신내역로1길 85,중랑구,4.5,93.4,127.39,74.0,2.0
9270,서울특별시 중랑구 신내동,신내우디안1단지,84.9400,202309,18,2014,신내역로1길 85,중랑구,4.602,93.9,129.34,74.0,2.0
9271,서울특별시 중랑구 신내동,신내우디안1단지,84.6500,202309,13,2014,신내역로1길 85,중랑구,4.602,93.9,129.34,74.0,2.0

In [78]:
# 강남권 여부의 중요성을 인지하고 '구' 데이터를 활용해 강남과 비강남권을 나누기로 함 
train_data['강남권여부'] = train_data['구'].apply(lambda x: 1 if x in ['강남구', '서초구', '송파구', '용산구'] else 0)

In [79]:
train_data[['구', '강남권여부']]

          구  강남권여부
0       강남구      1
1       강남구      1
2       강남구      1
3       강남구      1
4       강남구      1
...     ...    ...
155918  강동구      0
155919  강동구      0
155920  강동구      0
155921  강동구      0
155922  강동구      0

[155923 rows x 2 columns]

In [80]:
# 연식 (계약년 - 건축년도) 파생변수 만들기 
test_data['계약년'] = test_data['계약년월'].str[:4]
test_data['계약월'] = test_data['계약년월'].str[4:]

In [81]:
test_data['계약년'] = test_data['계약년'].astype('int')
test_data['연식'] = test_data['계약년'] - test_data['건축년도']
test_data

,시군구,아파트명,전용면적(㎡),계약년월,층,건축년도,도로명,구,회사채금리,매매가격지수,건설공사비지수,버스정류장수,지하철수,계약년,계약월,연식
0,서울특별시 강남구 개포동,개포6차우성,79.9700,202307,5,1987,언주로 3,강남구,4.437,93.0,127.33,86.0,2.0,2023,07,36
1,서울특별시 강남구 개포동,개포더샵트리에,108.2017,202308,10,2021,개포로 311,강남구,4.5,93.4,127.39,86.0,2.0,2023,08,2
2,서울특별시 강남구 개포동,개포우성3차,161.0000,202307,15,1984,개포로 307,강남구,4.437,93.0,127.33,86.0,2.0,2023,07,39
3,서울특별시 강남구 개포동,개포우성3차,133.4600,202308,14,1984,개포로 307,강남구,4.5,93.4,127.39,86.0,2.0,2023,08,39
4,서울특별시 강남구 개포동,개포우성3차,104.4300,202308,6,1984,개포로 307,강남구,4.5,93.4,127.39,86.0,2.0,2023,08,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9267,서울특별시 중랑구 신내동,신내우디안1단지,84.6500,202307,13,2014,신내역로1길 85,중랑구,4.437,93.0,127.33,74.0,2.0,2023,07,9
9268,서울특별시 중랑구 신내동,신내우디안1단지,84.6200,202307,12,2014,신내역로1길 85,중랑구,4.437,93.0,127.33,74.0,2.0,2023,07,9
9269,서울특별시 중랑구 신내동,신내우디안1단지,101.6500,202308,12,2014,신내역로1길 85,중랑구,4.5,93.4,127.39,74.0,2.0,2023,08,9
9270,서울특별시 중랑구 신내동,신내우디안1단지,84.9400,202309,18,2014,신내역로1길 85,중랑구,4.602,93.9,129.34,74.0,2.0,2023,09,9
9271,서울특별시 중랑구 신내동,신내우디안1단지,84.6500,202309,13,2014,신내역로1길 85,중랑구,4.602,93.9,129.34,74.0,2.0,2023,09,9

In [82]:
test_data.to_csv('test_for_eda.csv', index = False)

In [83]:

train_data['계약년'] = train_data['계약년월'].str[:4]
train_data['계약월'] = train_data['계약년월'].str[4:]

train_data['계약년'] = train_data['계약년'].astype('int')
train_data['연식'] = train_data['계약년'] - train_data['건축년도']
train_data = train_data.drop(columns = '도로명')

In [84]:
train_data

,시군구,번지,아파트명,전용면적(㎡),계약년월,계약일,층,건축년도,좌표X,좌표Y,...,구,회사채금리,매매가격지수,건설공사비지수,버스정류장수,지하철수,강남권여부,계약년,계약월,연식
0,서울특별시 강남구 개포동,651-1,개포더샵트리에,105.8064,202306,29,8,2021,127.056394,37.484892,...,강남구,4.356,92.7,127.42,86.0,2.0,1,2023,06,2
1,서울특별시 강남구 개포동,187,개포주공5단지,74.2500,202301,3,10,1983,127.068028,37.487802,...,강남구,4.704,94.6,127.1,86.0,2.0,1,2023,01,40
2,서울특별시 강남구 개포동,187,개포주공5단지,61.1900,202302,5,12,1983,127.068028,37.487802,...,강남구,4.274,93.6,127.16,86.0,2.0,1,2023,02,40
3,서울특별시 강남구 개포동,187,개포주공5단지,83.1700,202304,7,13,1983,127.068028,37.487802,...,강남구,4.072,92.6,127.45,86.0,2.0,1,2023,04,40
4,서울특별시 강남구 개포동,187,개포주공5단지,83.1700,202304,29,10,1983,127.068028,37.487802,...,강남구,4.072,92.6,127.45,86.0,2.0,1,2023,04,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155918,서울특별시 종로구 숭인동,2-1,종로센트레빌,59.9200,202008,24,8,2008,127.015931,37.580983,...,강동구,2.192,95.8,99.35,26.0,1.0,0,2020,08,12
155919,서울특별시 중구 묵정동,11-67,묵정,52.4600,202001,17,5,1981,127.000071,37.560706,...,강동구,1.955,94.2,99.86,1.0,0.0,0,2020,01,39
155920,서울특별시 중구 묵정동,11-67,묵정,52.4600,202001,22,2,1981,127.000071,37.560706,...,강동구,1.955,94.2,99.86,1.0,0.0,0,2020,01,39
155921,서울특별시 중구 묵정동,11-67,묵정,52.4600,202003,31,2,1981,127.000071,37.560706,...,강동구,1.84,94.4,99.53,1.0,0.0,0,2020,03,39
155922,서울특별시 중구 묵정동,11-67,묵정,52.4600,202007,31,8,1981,127.000071,37.560706,...,강동구,2.219,95.3,99.31,1.0,0.0,0,2020,07,39

In [85]:
train_data.to_csv('train_for_eda.csv', index =False)